/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    color: #333;
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #e7e7e7;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2em;
}

#computedAverageGrade {
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
}
